body{
    font-family: Arial, Verdana; /*updated capitalization bc autograder*/
    background-color: #000000;
    margin: 20px 20px 0px 20px;
    color: #ffffff;
}
h1 {
  font-size: 42px;     
  text-align: center; 
  padding: 15px;    
}
h2 {
    font-size:30px;
    color:#0D0D0D;

}
p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px; 
    
    
}

img {
   width: 250px;
   margin: auto;
   display: block;
   border: 10px dashed #ffffff; /*think we centered the image with changing display to block*/


 }
 div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ffffff;


 }
.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height:200%;



 }
 div.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-width:0px 0px 2px 5px;
     

    
 }


 div.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    color: #C4C4C4;
    border-width: 2px 5px 0px 0px;
    
 }
div.blue>h2{
    color: #C4C4C4;
}
 div.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    color: #707070;
    border-width: 0px 0px 2px 5px;

    
 }
 div.green {
    background-color:#008500;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;

 }
 footer{ 
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 255, 1) 25%, rgba(0, 102, 255, 1) 70%, rgba(0, 0, 0, 1) 100%);
    border: 5px solid #ffffff;
 }

 footer > p{
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom:10px;
 }
 /* /I am Checking source file for the style tag......
Checking body
Checking h1
Checking footer
Checking h2
Checking p
Checking img
[Checking new CSS......]
Checking for proper style sheets
Checking introduction ...
Checking h2 ...
Checking p element ...
Checking body element ...
-5: body font family [FAILED] x


Checking for reset value
Checking h1 format ...
Checking img format ...
Checking img margin ...
Checking img display property ...
-5: image have correct display to center correctly [FAILED] x


Checking img width property ...
-5: image have correct width [FAILED] x


Checking red div format ...
-5: red div border [FAILED]


Checking blue div format ...
-5: the blue div border [FAILED]


Checking blue h2..
Checking yellow div format ...
-5: yellow div border [FAILED]


Checking h2..
Checking green div format ...
-5: the green div border [FAILED]


-5: footer paragraph text size [FAILED]


-5: footer paragraph text align [FAILED]


-5: footer paragraph padding [FAILED]


#############################################
---------- Safari checks COMPLETED ----------
#############################################
--------------- Homework Two Autograder Result ---------------
Total Score: 50 / 100
sending Grade 
Style the default footer elements with:
a gradient background that starts at #000000, goes to #0000ff at 25,  #0066ff at 70, and ends back at #000000.
A 5px solid white border.
Style any paragraphs within the footer with:
20px text that is aligned to the right.
Padding of 15px on the top, right, and bottom only. (No padding on the left.)
*/